        <footer class="s_footer">
            <div class="container">
                <div class="s_footer_wrapper">
                    <div class="s_footer_first_item fw">
                        <div class="asociated">
                            <p>Членство в ассоциациях:</p>
                            <div class="asociated_images fw">
                                <img src="images/logo_uz.png" alt="">
                                <img src="images/logo_fiata.png" alt="">
                                <img src="images/TIACA-LOGO-2018.png" alt="">
                            </div>

                        </div>
                        <div class="social">
                            <p>Мы в соцсетях:</p>
                            <ul class="menu">
                                <li><a href="#"> <i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="contacts ">
                            <p class="title">Контакты украинских и международных офисов</p>
                            <div class="contacts_list fw">
                                <div class="contact_ukr fw">
                                    <div class="contacts_list_item_ukr fw">
                                        <img src="images/Geo_icon.png" alt="">
                                        <div class="contacts_adress">
                                            <p>03141 Киев</p>
                                            <p>ул. Николая Амосова 12</p>
                                            <p>БЦ «Horizon Park 2»</p>
                                            <p>0800 215 777</p>
                                        </div>
                                    </div>
                                    <div class="contacts_list_item_ukr fw">
                                        <img src="images/Geo_icon.png" alt="">
                                        <div class="contacts_adress">
                                            <p>65026 Одесса</p>
                                            <p>ул. Польский спуск 11</p>
                                            <p>БЦ «Морской-2»</p>
                                            <p>38 (048) 752 86 21</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contacts_list_item_international">
                                    <ul class="office">
                                        <li><a href="#">Варшава</a></li>
                                        <li><a href="#">Нью Джерси</a></li>
                                        <li><a href="#">Гонконг</a></li>
                                        <li><a href="#">Шанхай</a></li>
                                        <li><a href="#">Шэньчжень</a></li>
                                        <li><a href="#">Гуанчжоу</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="s_footer_second_item fw">

                        <div class="s_footer_second_item_white">
                            <ul class="seo_links_white">
                                <li><a href="#">Доставка Китай- Одесса</a></li>
                                <li><a href="#">Доставка из Турции</a></li>
                                <li><a href="#">Китай- Одесса</a></li>
                                <li><a href="#">Доставка из Турции</a></li>
                                <li><a href="#">Доставка из Китая</a></li>
                                <li><a href="#">Доставка из США</a></li>
                                <li><a href="#">Доставка Китай- Одесса</a></li>
                                <li><a href="#">Доставка из Турции</a></li>
                                <li><a href="#">Китай- Одесса</a></li>
                                <li><a href="#">Доставка из Турции</a></li>
                                <li><a href="#">Доставка из Китая</a></li>
                                <li><a href="#">Доставка из США</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="s_footer_copyrights">
                        <p>2004 - 2018 © UTEC</p>
                    </div>
                </div>
            </div>
        </footer>