     <div class="s_advantages_items fw">
        <div class="s_advantages_item">
            <svg src="images/advantages-1.svg">
                <use xlink:href="images/advantages-1.svg#:icon_11_years">
                </use>
            </svg>
            <p class="s_advantages_item_name">Більше 11 років</p>
            <p>стабільної роботи</p>
        </div>
        <div class="s_advantages_item">
            <svg src="images/advantages-1.svg">
                <use xlink:href="images/advantages-1.svg#:icon_5_years"></use>
            </svg> 
            <p class="s_advantages_item_name">Власні офіси та склади </p>
            <p>в 5 країнах</p>
        </div>
        <div class="s_advantages_item">
            <svg src="images/advantages-1.svg">
                <use xlink:href="images/advantages-1.svg#:icon_membership">
                </use>
            </svg> 
                <p class="s_advantages_item_name">Членство в міжнародних </p><p>логістичних асоціаціях</p>
            </div>
            <div class="s_advantages_item"><svg src="images/advantages-1.svg">
                <use xlink:href="images/advantages-1.svg#:icon_contract"></use>
            </svg> 
                <p class="s_advantages_item_name">Агентські договори </p>
                <p>з авіалініями</p>
            </div> 
    </div>
