<section class="s_delivery_countries">
    <div class="container">
        <div class="s_delivery_countries_wrapper">
            <div class="s_delivery_countries_wrapper_title wow slideInLeft">
                <img src="images/Banner_mezhd_dostavka.png" alt=""
                    class="s_delivery_countries_banner_pad_mob">
                <h2>Основные международные направления</h2>
            </div>
            <div class="s_delivery_countries_wrapper_list fw">
                <ul>
                    <li class="wow slideInLeft " data-wow-duration="0.8s"><a href="google.com.ua">Китай</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Гонког</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">США</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Польша</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Италия</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Португалия</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Франция</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Китай</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Гонког</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">США</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Польша</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Италия</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Португалия</a></li>
                    <li class="wow slideInLeft " data-wow-duration="0.5s"><a href="google.com.ua">Франция</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>