<section class="s_title_links">
    <div class="container">
        <div class="s_title_links_wrapper">
            <div class="s_title_links_title">
                <h1>Авиаперевозки грузов из Китая, США и Европы</h1>
            </div>
            <div class="s_title_links_linlBlock fw">
                <div class="s_title_links_linlBlock_item"><a href="about.html"><img src="images/Avia_china_.png" alt=""></a></div>
                <div class="s_title_links_linlBlock_item"><a href="about.html"><img src="images/Avia_evrope_350х150.png" alt=""></a></div>
                <div class="s_title_links_linlBlock_item"><a href="about.html"><img src="images/Avia_usa_.png" alt=""></a></div>
            </div>
            <div class="s_title_links_linkBlock_mobile fw">
                    <div class="s_title_links_linkBlock_mobile_item"><a href="about.html"><img src="images/Pic_mob_avia_151x151.jpg" alt="">
                    <p>Авиа доставка</p>
                    <p>из Китая</p></a></div>
                    <div class="s_title_links_linkBlock_mobile_item"><a href="about.html"><img src="images/Pic_mob_avia_151x151.jpg" alt="">
                        <p>Авиа доставка</p>
                        <p>из Китая</p></a></div>
                    <div class="s_title_links_linkBlock_mobile_item"><a href="about.html"><img src="images/Pic_mob_avia_151x151.jpg" alt="">
                        <p>Авиа доставка</p>
                        <p>из Китая</p></a></div>
                </div>
        </div>
    </div>
</section>