<section class="s_mission_of_company">
    <div class="container">
        <div class="s_mission_of_company_wrapper">
            <div class="s_mission_of_company_title">
                <h3>МІСІЯ</h3>
                <p>Наша місія полягає в прагненні робити все для зростання, розвитку і досягнення високих цілей нашими клієнтами та партнерами. Ми не зупиняємося ні перед чим, швидко ростемо, досліджуємо і розвиваємося. Втілюємо досвід і знання в інноваційних технологіях, продуктах і послугах.</p>
            </div>
            <div class="s_mission_of_company_values">
                    <div class="s_mission_of_company_values_title">
                        <h3>ЦІННОСТІ</h3>
                    </div>
                    <div class="s_mission_of_company_values_items fw">
                            <div class="s_mission_of_company_values_item">
                                    <svg src="images/svg/about-page-sprite.svg">
                                        <use xlink:href="images/svg/about-page-sprite.svg#:UTEC_L_Icon_cennost_1"></use>
                                    </svg>
                                    <p class="headerFour">клієнтоорієнтованість</p>
                                    <p>Націлені на побудову довгострокових відносин з клієнтами і партнерами. Передбачаємо їх потреби, ділимося своїм досвідом і знаннями.</p>
                            </div>
                            <div class="s_mission_of_company_values_item">
                                    <svg src="images/svg/about-page-sprite.svg">
                                        <use xlink:href="images/svg/about-page-sprite.svg#:UTEC_L_Icon_cennost_2"></use>
                                    </svg>
                                    <p class="headerFour">професіоналізм</p>
                                    <p>Працюємо відповідно до міжнародних вимог. Втілюємо досвід і знання на практиці, пропонуємо гнучкий підхід до замовлень і потреб клієнтів. Ефективно використовуємо час та інші ресурси.</p>
                            </div>
                            <div class="s_mission_of_company_values_item">
                                    <svg src="images/svg/about-page-sprite.svg">
                                        <use xlink:href="images/svg/about-page-sprite.svg#:UTEC_L_Icon_cennost_3"></use>
                                    </svg>
                                    <p class="headerFour">інноваційність</p>
                                    <p>Постійно навчаємося, експериментуємо і розвиваємося, щоб надавати своїм клієнтам тільки якісний і сучасний сервіс.</p>
                            </div>
                            <div class="s_mission_of_company_values_item">
                                    <svg src="images/svg/about-page-sprite.svg">
                                        <use xlink:href="images/svg/about-page-sprite.svg#:UTEC_L_Icon_cennost_4"></use>
                                    </svg>
                                    <p class="headerFour">цілеспрямованість</p>
                                    <p>Ставимо високі цілі і активно працюємо над їх досягненням в рамках чітко встановлених термінів.</p>
                            </div>
                            <div class="s_mission_of_company_values_item">
                                    <svg src="images/svg/about-page-sprite.svg">
                                        <use xlink:href="images/svg/about-page-sprite.svg#:UTEC_L_Icon_cennost_5"></use>
                                    </svg>
                                    <p class="headerFour">командність</p>
                                    <p>Ми - одна команда, яка працює для досягнення спільної мети. Кожен співробітник - це компанія, а компанія - співробітник.</p>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</section>
