<section class="s_reviews_news">
    <div class="container">
        <div class="s_reviews_news_wrapper fw">
            <div class="s_review_block">
                <div class="s_review_block_title">
                    <p class="headerTwo">Отзывы клиентов </p>
                </div>
                <div class="s_review_block_items fw">
                    <div class="s_review_block_items_item"><a href="#otziv"><img
                                src="images/UTEC_L_otzyv1_277x121 (2).jpg" alt=""></a> </div>
                    <div class="s_review_block_items_item"><a href="#otziv"><img
                                src="images/UTEC_L_otzyv1_277x121 (2).jpg" alt=""></a> </div>
                    <div class="s_review_block_items_item"><a href="#otziv"><img
                                src="images/UTEC_L_otzyv1_277x121 (2).jpg" alt=""></a> </div>
                    <div class="s_review_block_items_item"><a href="#otziv"><img
                                src="images/UTEC_L_otzyv1_277x121 (2).jpg" alt=""></a> </div>
                </div>
                <div class="s_review_block_link">
                    <a href="google.com.ua" class="newsLink">Все отзывы</a>
                </div>

            </div>
            <div class="s_reviews_news_new">
                <div class="s_reviews_news_new_title">
                    <p class="headerTwo">
                        Новости логистики
                    </p>
                </div>
                <div class="s_reviews_news_new_items">
                    <div class="s_reviews_news_new_item fw">
                        <div class="s_reviews_news_new_item_img">
                            <img src="images/news_pr_1.jpg" alt="">
                        </div>
                        <div class="s_reviews_news_new_text">
                            <p class="date">04.05.2018</p>
                            <p class="newHeader">
                                <a href="google.com.ua">UTEC Logistics — экспонентТрансУкраина 2018</a>
                            </p>
                            <p class="previewText">
                                Компания «Премьер Экспо» организовала 21-ю Международную специализированную
                                выставку ТрансУкраина 2018, которая проходила в Киеве с 23 по 25 октября в
                                столичном выставочном центре.
                            </p>
                        </div>
                    </div>
                    <div class="s_reviews_news_new_item fw">
                        <div class="s_reviews_news_new_item_img">
                            <img src="images/news_pr_1.jpg" alt="">
                        </div>
                        <div class="s_reviews_news_new_text">
                            <p class="date">04.05.2018</p>
                            <p class="newHeader">
                                <a href="google.com.ua">UTEC Logistics — экспонентТрансУкраина 2018</a>
                            </p>
                            <p class="previewText">
                                Компания «Премьер Экспо» организовала 21-ю Международную специализированную
                                выставку ТрансУкраина 2018, которая проходила в Киеве с 23 по 25 октября в
                                столичном выставочном центре.
                            </p>
                        </div>
                    </div>
                    <div class="s_reviews_news_new_link">
                        <a href="google.com.ua" class="newsLink">Все новости</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>