<section class="s_seo_text">
    <div class="container">
        <div class="s_seo_text_wrapper">
            <div class="s_seo_text_title">
                <h2>Основные международные направления</h2>
            </div>
            <div class="s_seo_text_items">
                <div class="s_seo_text_item">
                    <ul >
                        <li>;dffiooerjogjeroijgiogjigjirjg</li>
                        <li>;dffiooerjogjeroijgiogjigjirjg</li>
                        <li>;dffiooerjogjeroijgiogjigjirjg</li>
                    </ul>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <h2>Я заголовок и теперь буду тут ь</h2>

                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <h3>Я заголовок и теперь буду тут жить</h3>

                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <h4>Я заголовок и теперь буду тут жить</h4>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <h5>Я заголовок и теперь буду тут жить</h5>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <h6>Я заголовок и теперь буду тут жить</h6>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                    <p>UTEC Logistics обладает прямыми контрактами с ведущими авиалиниями, это позволяет
                        разрабатывать самый короткий и выгодный маршрут (стандартная доставка — от 10 дней,
                        экспресс — от 3 дней) и предлагать оптимальный тариф для доставки грузов
                        (авиадоставка «под ключ» — от $5/кг, авиафрахт — от $3,5/кг). Надежность,
                        безопасность, оперативность — вот основные принципы, по которым наша компания
                        осуществляет авиаэкспресс-доставки из Китая. Наши перевозки — крыльями!</p>
                </div>


            </div>
        </div>
    </div>
</section>