<section class="s_slider_main">
    <div class="container">
        <div class="s_slider_main_wrapper">
            <div class="s_slider_main_images">
                <div class="s_slider_main_image"><a href="google.com.ua"><img src="images/banner.jpg" alt=""></a></div>
                <div class="s_slider_main_image"><a href="google.com.ua"><img src="images/banner.jpg" alt=""></a></div>
                <div class="s_slider_main_image"><a href="google.com.ua"><img src="images/banner.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
</section>