<section>
    <div class="s_slider_clients">
        <div class="container">
            <div class="s_slider_clients_title">
                <p class="headerTwo">Наши клиенты</p>
            </div>
            <div class="s_slider_clients_wrapper js_slider_client">
                <img src="images/U_logo_ali.jpg" alt="">
                <img src="images/U_logo_asus.jpg" alt="">
                <img src="images/U_logo_huawei.jpg" alt="">
                <img src="images/U_logo_sr_express.jpg" alt="">
            </div>
        </div>
    </div>
</section>