<section class="s_traffic">
    <div class="container">
        <div class="s_traffic_wrapper ">
            <div class="s_traffic_wrapper_title wow slideInRight" data-wow-duration="0.8s">
                <img src="images/Banner_mezhd_dostavka.png" alt="" class="s_traffic_banner_pad_mob">
                <h2>Международные перевозки</h2>
            </div>
            <div class="s_traffic_wrapper_list">
                <ul>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a
                            href="google.com.ua">Контейнерные перевозки</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Карго
                            доставка</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Доставка
                            товаров</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Перевозка
                            сборных грузов</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a
                            href="google.com.ua">Международная доставка посылок</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a
                            href="google.com.ua">Мультимодальные перевозки</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Перевозка
                            негабаритных грузов</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Перевозка
                            техники и автомобилей</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Доставка
                            станков и оборудования</a></li>
                    <li class="wow slideInRight " data-wow-duration="0.8s"><a href="google.com.ua">Доставка
                            станков и оборудования</a></li>
                </ul>
            </div>
        </div>
    </div>


</section>