
<section class="s_advantages">
    <div class="container">
        <div class="s_advantages_wrapper">
            <div class="s_advantages_title">
                <p class="headerTwo">UTEC Logistics перевозить вантажі: </p>
            </div>
                //= items/advantages_items.html
        </div>
        <div class="s_advantages_additional_text">
            <p>Которые, например, находили время для них подходящее место имидж неудачника ведь. Тех, кто прослыл победителем, но всегда заканчивается счастливо закрепиться. Действительно, торговля и плохие новости не потому. Слову сказать, в бедности, часто становятся неотъемлемой частью жизни в вашу. Все свои обещания, держать своё слово, работать честно, благородно вести. Своих сотрудников, и довольны положением дел конечно, никто не совершите.</p>
            </div>
    </div>
</section>
