<div class="contactsBlocks">
        <div class="contactsBlocks-item">
            <p class="headerTwo">Юридический адрес компании:</p>
            <p>EUROHOLD L.P.</p>
            <p>Registration number SL020440</p>
            <p>Suite 1/1 34 St. Enoch Square</p>
            <p>Glasgow, Lanarkshire</p>
            <p>G 14DF, UK</p>
            <p>Tell:<a href="tel:48222197555">+48(22) 219 7555</a></p>
        </div>
        <div class="contactsBlocks-item">
                <p class="headerTwo">Контакты службы поддержки:</p>
                <p>Tell:<a href="tel:380442285303">+38 (044) 228 53 03</a></p>
                <p>E-mail:<a href="mailto: support@utec-ltd.com">support@utec-ltd.com</a></p>
                <p>Skype:<a href="tell: support_utec-ltd.com">support_utec-ltd.com</a></p>
        </div>
    </div>
