<form action="">
        <p>Страна, где была выпущена карта</p>
    <div class="chahgeCountry">
        <input type="radio" id="UA" name="" >
        <label  for="UA"><img src="../../images/flag.png" alt="UA"></label>
        <input type="radio" id="global" name="" value="0" >
        <label  for="global"><img src="../../images/svg/global.svg"  style="width:20px;"alt="global"></label>
      </div>
      <input  type="text" placeholder="Введите номер клиента">
      <input  type="tel" placeholder="Контактный номер телефона" >
      <input  type="email" name="ClientEmail" placeholder="E-mail">
      <div class="paymentsSystem">
            <img src="../../images/svg/ICON_mastercard.svg">
            <img src="../../images/svg/ICON_visa1.svg">
      </div>
      <input  type="text" placeholder="Введите сумму пополнения">
      <div class="specialForCheckBox"><input type="checkbox" ><a href="http://www.utec.info/politika-vozvrata" target="_blank"><span>Я соглашаюсь с политикой возврата</span>
      </a></div>
      <div class="specialForCheckBox"><input type="checkbox" ><a href="http://www.utec.info/politika-dostavki" target="_blank"><span >Я соглашаюсь с политикой доставки</span></a></div>
      <p>Комиссия составляет <span  id="comission"></span></p>
      <input name="" type="submit" value="Пополнить" class=""  id="">
</form>
