<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/Kyiv.jpg" alt="">
    <a class="js-open-delivery" href="#popup1">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup1">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">

        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>

          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full.jpg" alt=""></div>
          </div>

        </div>

      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p>03141 <span>Киев, Украина</span> </p>
    <p>ул. Николая Амосова 12</p>
    <p>БЦ "Horizon Park 2"</p>
    <p><a href="tel:080021577">0800 215 77</a></p>
  </div>
</div>