<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/Hong_kong.jpg" alt="">
    <a class="js-open-delivery" href="#popup7">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup7">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">
        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>
          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p><span>Гонконг, Китай</span> </p>
    <p>Tsuen Wan, N.T.</p>
    <p>40-50 Sha Tsui RD.Wing Fung IND СЕК</p>
    <p>14/F, Workshop 1405</p>
    <p><a href="tel:+85228698208">+852 2869 82 08</a></p>
  </div>
</div>