<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/Guanchzhou.jpg" alt="">
    <a class="js-open-delivery" href="#popup8">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup8">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">
        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>
          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p>510010 <span>Гуанчжоу, Китай</span> </p>
    <p>Liwan District</p>
    <p>Zhanqian street</p>
    <p>Jindu Garment Mansion</p>
    <p>7-th warehouse (улица карго) </p>
    <p><a href="tel:+8613360000034">+86 (133) 6000 00 34</a></p>
  </div>
</div>