<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/Vashava.jpg" alt="">
    <a class="js-open-delivery" href="#popup4">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup4">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">
        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>
          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p>00-613 <span>Варшава, Польша</span> </p>
    <p>ul. Chalubinskiego 8</p>
    <p>Oxford Tower, 29 pietro</p>
    <p><a href="tel:+48222092564">+48 (22) 209 25 64</a></p>
    <p><a href="tel:+48724535303">+48 (724) 53 53 03</a></p>
  </div>
</div>