<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/shenczhen.jpg" alt="">
    <a class="js-open-delivery" href="#popup6">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup6">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">
        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>
          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p>518101 <span>Шэньчжень, Китай</span> </p>
    <p>Bao’an District (Gushu Metro station),</p>
    <p>Xixiang Channel, Hangkong Road 30,</p>
    <p>Tong’an Logistics Park, No. A building, 418</p>
    <p><a href="tel:+8613510249872">+86 (135) 1024 98 72</a></p>
    <p><a href="tel:+8675526902715">+ 86 (755) 2690 27 15</a></p>
    <p><a href="tel:+8675523320506">+ 86 (755) 2332 05 06</a></p>
  </div>
</div>