<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/Shanghai.jpg" alt="">
    <a class="js-open-delivery" href="#popup5">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup5">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">
        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>
          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p>200120 <span>Шанхай, Китай</span> </p>
    <p>Pudong New District</p>
    <p>No. 23 Jiwen Road</p>
    <p>Building 8, 1-st floor</p>
    <p><a href="tel:+862133759101">+86 (21) 3375 91 01</a></p>
    <p><a href="tel:+8613564280975">+86 (135) 6428 09 75</a></p>
  </div>
</div>