<div class="s_contacts_content_offices_item fw">
  <div class="s_contacts_content_offices_item_img">
    <img src="images/New_jercy.jpg" alt="">
    <a class="js-open-delivery" href="#popup3">Больше фотографий</a>
    <!-- popup transportation -->
    <div class="s_popup s_popup_delivery" id="popup3">
      <div class="s_popup_layer js-popup-close"></div>
      <div class="s_popup_wrap">
        <div class="s_popup_content">
          <div class="s_popup_close js-popup-close"></div>
          <div class="slider-contacts">
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
            <div> <img src="images/Photo_primer_full3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end popup transportation -->
  </div>
  <div class="s_contacts_content_offices_item_adress">
    <p>07039 <span>Нью-Джерси, США</span> </p>
    <p>Livingston</p>
    <p>100 Naylon av.</p>
    <p><a href="tel:+19732512634">+1 973-251-2634</a></p>
  </div>
</div>